<!DOCTYPE html>
        <html>
        <body>
        	<div style='width:100%;height:auto;background-color:#f0f2f3;border:none;padding-top:20px;padding-bottom:20px;'>
        		<div style='width:90%;min-height:300px;padding:10px;background-color:white;margin:auto;'>
        			<div style='width:100%;height:auto;background-color:black;'><center><h1 style='color:white;padding-top:10px;padding-bottom:10px;'>ProductIn</h1></center></div>
			        <p style='font-size:140%;font-weight:700;color:#4a4444;'>Verify your email address</p>
        			<p style='color:#4a4444;'>Thanks for starting the new ProductIn account creation process. We want to make sure it's really you. Please enter the following verification code when prompted. If you don’t want to create an account, you can ignore this message.</p>
			        <p style='font-size:100%;text-align:center;color:#4a4444;'>Verification code<br><span style='color:black;font-size:170%;margin-bottom:-10px;'><b>{{otp}}</b></span><br><center><span style='color:#4a4444;text-align:center;'>(This code is valid for <b>5 attempts</b> only)</span></center></p>
			        <hr>
			        <p style='color:#4a4444;opacity:90%;'>ProductIn will never email you and ask you to disclose or verify your password, credit card, or banking account number.</p><br>
        		</div>
        	</div>
        </body>
        </html>
