h1{color:red;text-align:center;}
#butt{background-color:green;padding:5px 10px;font-size:130%;border-radius:5px;outline:none;}
table{border:1px solid black;border-collapse:collapse;}
th,td,tr{border:1px solid black;}
